.idea
.vscode
target
dist
build
node_modules
*.iml
coverage
nohup.out
.vscode/*
yarn.lock
*.tsbuildinfo
.DS_Store
target
**/web_modules/*
.metals
.log
.bloop
.bsp
project/.bloop
project/target
target
project/metals.sbt